html {
    box-sizing: border-box;
    font-family: "karla";
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 100px;
}


.main-container {
    padding: 100px;
    margin: 50px;
    width: 800px;
    height: 650px;
}

.wrapper {
    box-shadow: -2px -4px 5px 0px;
    border-radius: 8px;
    overflow: hidden;
}

.upper-region {
    height: 15em;
    width: 35em;
    padding: 2em;
    margin-bottom: 2em;
}

.upper-region h3 {
    color: #2ab2af;
    font-size: xx-large;
}

.upper-region h4 {
    color: #c0df34;
}

.upper-region p {
    color: #98a6bd;
}

.sub-section {
    display: flex;
}

.button-left {
    background-color: #98a6bd;
    padding: 20px;
    width: 50%;
    height: 15em;
    color: white;
    line-height: 10px;

}

.button-left h4 {
    margin-bottom: 2px;
}

.button-right {
    background-color: #A49AAD;
    padding: 20px;
    width: 50%;
    height: 15em;
    color: white;
}

button {
    background-color: #c0df34;
    width: 80%;
    height: 20%;
    border: none;
    margin-top: 12px;
    border-radius: 5px;
    box-shadow: -2px -4px 5px 0px
}

button:hover {
    cursor: pointer;
    background-color:#A49AAD ;
}

.access {
    margin-top: 0;
}

.rate-container {
    display: flex;
    margin-top: 0.1rem;
}

#rate {
    font-weight: 700;
    font-size: 1.4rem;
}

#rate-length {
    position: relative;
    top: -3px;
    right: 7px;
    padding: 15px;
    opacity: 0.8;
}

 ul {
    padding: 0;
    font-size: 0.3;
    list-style: none;
    opacity: 0.7;
 }

